.header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    max-width: 1160px;
    margin: auto;
}

.header_content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    block-size: 80px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

@media screen and (min-width: 1024px) {
    .header_content {
        padding-inline-start: 0px;
        padding-inline-end: 0px;
    }
}